<div align="center" style="vertical-align: inherit; padding: 10px;">
  <form #dataForm="ngForm">
    <div layout="row" align="center">
      <!-- Col Left -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px">
        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #codeElement
                   #codeControl="ngModel"
                   placeholder="Code"
                   [(ngModel)]="data.code"
                   name="code"
                   maxlength="8"
                   readonly>
            <mat-hint align="start">
                <span [hidden]="codeControl.pristine" class="tc-red-600">
                  <span [hidden]="!codeControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{codeElement.value?.length || 0}} / 8</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Item Type"
                        #typeControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.type_code">
              <mat-option *ngFor="let type of types" [value]="type.code">{{type.code}} : {{type.name1}}</mat-option>
            </mat-select>
            <mat-hint align="start">
                <span [hidden]="typeControl.pristine" class="tc-red-600">
                  <span [hidden]="!typeControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Item Group"
                        #groupControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.group_code">
              <mat-option *ngFor="let group of groups" [value]="group.code">{{group.code}} : {{group.name1}}</mat-option>
            </mat-select>
            <mat-hint align="start">
                <span [hidden]="groupControl.pristine" class="tc-red-600">
                  <span [hidden]="!groupControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select placeholder="Item Group"
                        #subgroupControl="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data.subgroup_code">
              <mat-option *ngFor="let subgroup of subgroups" [value]="subgroup.code">{{subgroup.code}} : {{subgroup.name1}}</mat-option>
            </mat-select>
            <mat-hint align="start">
                <span [hidden]="subgroupControl.pristine" class="tc-red-600">
                  <span [hidden]="!subgroupControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name1Element
                   #name1Control="ngModel"
                   placeholder="Name 1"
                   [(ngModel)]="data.name1"
                   name="name1"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="name1Control.pristine" class="tc-red-600">
                  <span [hidden]="!name1Control.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{name1Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #name2Element
                   #name2Control="ngModel"
                   placeholder="Name 2"
                   [(ngModel)]="data.name2"
                   name="name2"
                   maxlength="250">
            <mat-hint align="start">
              <span [hidden]="name2Control.pristine" class="tc-red-600">
              <span [hidden]="!name2Control.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{name2Element.value?.length || 0}} / 250</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
      <!-- End Col Left -->

      <!-- Col Right -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px">
        <div class="grid" style="text-align: center">
          <div *ngFor="let image of images; let i = index">
            <img height="200px" [src]="image.src" (click)="gallery.set(i)"/>
          </div>
        </div>
        <div fxLayout="row" style="margin: 10px;text-align: center">
          <span fxFlex></span>
          <input #upload hidden accept="image/*" type="file" tdFileSelect (fileSelect)="uploadImage($event)">
          <a mat-raised-button class="text-upper" color="primary" (click)="upload.click()">Upload</a>
          <a mat-button class="text-upper" style="margin-left: 10px;" (click)="removeImage()" [disabled]="data.image === '../../../../../assets/images/placeholder.png'?true:false">Remove</a>
          <span fxFlex></span>
        </div>

        <div layout="row" style="margin-top: 25px">
          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="number"
                   style="text-align: end;"
                   #minimumElement
                   #minimumControl="ngModel"
                   placeholder="Minimum"
                   [(ngModel)]="data.min"
                   name="min"
                   maxlength="8">
            <mat-hint align="start">
              <span [hidden]="minimumControl.pristine" class="tc-red-600">
              <span [hidden]="!minimumControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{minimumElement.value?.length || 0}} / 8</mat-hint>
          </mat-form-field>

          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="number"
                   style="text-align: end;"
                   #maximumElement
                   #maximumControl="ngModel"
                   placeholder="Maximum"
                   [(ngModel)]="data.max"
                   name="max"
                   maxlength="8">
            <mat-hint align="start">
              <span [hidden]="maximumControl.pristine" class="tc-red-600">
              <span [hidden]="!maximumControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{maximumElement.value?.length || 0}} / 8</mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
    </div>
    <!-- End Col Right -->
    <div layout="col" layout-align="start center" style="margin: 0px 10px;">
      <mat-card-title class="push-bottom-none">
        <button mat-button color="accent" (click)="addUnit()">
          <mat-icon>add</mat-icon>Add Unit
        </button>
      </mat-card-title>
    </div>
    <mat-divider style="margin: 0px 10px;"></mat-divider>
    <div layout="row">
      <mat-card-content style="padding:0px; padding-bottom: 10px; width: 100%">
        <mat-list class="item-list">
          <!--<ng-template let-item let-last="last" ngFor [ngForOf]="data.season_rates">
            <mat-list-item style="margin-top: 20px;">

              <div fxFlex>
                <div fxLayout="row" fxLayoutAlign="space-between center">

                  <mat-select fxFlex="200px"
                             [ngModelOptions]="{standalone: true}"
                             placeholder="Select Season"
                             [(ngModel)]="item.rate_name"
                  >
                    <mat-option *ngFor="let season of ['Hi Season','Low Season','Peak Season']" [value]="season">
                      {{season}}
                    </mat-option>
                  </mat-select>

                  <div>

                    &lt;!&ndash;<mat-input-container flex style="margin-right: 20px">&ndash;&gt;
                    &lt;!&ndash;<input matInput&ndash;&gt;
                    &lt;!&ndash;readonly&ndash;&gt;
                    &lt;!&ndash;[ngModelOptions]="{standalone: true}"&ndash;&gt;
                    &lt;!&ndash;[ngModel]="item.start_date | date:'dd/MM/yyyy'"&ndash;&gt;
                    &lt;!&ndash;(ngModelChange)="item.start_date = $event"&ndash;&gt;
                    &lt;!&ndash;placeholder="From"&ndash;&gt;
                    &lt;!&ndash;flex>&ndash;&gt;
                    &lt;!&ndash;<input matInput [matDatepicker]="startdate_datepicker" style="display: none">&ndash;&gt;
                    &lt;!&ndash;<button matSuffix [matDatepickerToggle]="startdate_datepicker"></button>&ndash;&gt;
                    &lt;!&ndash;</mat-input-container>&ndash;&gt;
                    &lt;!&ndash;<mat-datepicker #startdate_datepicker></mat-datepicker>&ndash;&gt;

                    &lt;!&ndash;<mat-input-container fxFlex style="margin-right: 20px">&ndash;&gt;
                    &lt;!&ndash;<input matInput&ndash;&gt;
                    &lt;!&ndash;readonly&ndash;&gt;
                    &lt;!&ndash;[ngModelOptions]="{standalone: true}"&ndash;&gt;
                    &lt;!&ndash;[ngModel]="item.end_date | date:'dd/MM/yyyy'"&ndash;&gt;
                    &lt;!&ndash;(ngModelChange)="item.end_date = $event"&ndash;&gt;
                    &lt;!&ndash;placeholder="To"&ndash;&gt;
                    &lt;!&ndash;fxFlex>&ndash;&gt;
                    &lt;!&ndash;<input matInput [matDatepicker]="enddate_datepicker" style="display: none">&ndash;&gt;
                    &lt;!&ndash;<button matSuffix [matDatepickerToggle]="enddate_datepicker"></button>&ndash;&gt;
                    &lt;!&ndash;</mat-input-container>&ndash;&gt;
                    <mat-datepicker #enddate_datepicker></mat-datepicker>

                    <mat-input-container fxFlex style="margin-right: 20px">
                      <input matInput
                             placeholder="Rate"
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="item.rate"
                             type="number"
                             fxFlex
                      >
                    </mat-input-container>

                    <mat-input-container fxFlex style="margin-right: 20px">
                      <input matInput
                             placeholder="Cut Off"
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="item.cut_off"
                             type="number"
                             fxFlex
                      >
                    </mat-input-container>
                  </div>

                  <button mat-icon-button class="push-right" [matMenuTriggerFor]="menuSeasonrate">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu #menuSeasonrate="matMenu">
                    <button mat-menu-item (click)="removeSeasonRate(item.code)">
                      <span>Remove</span>
                    </button>
                  </mat-menu>

                </div>
              </div>

            </mat-list-item>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-template>-->
        </mat-list>
      </mat-card-content>
    </div>
  </form>

  <mat-divider style="margin:10px"></mat-divider>
  <!-- Footer -->
  <mat-card-footer style="margin: 0px 10px;align-content: center;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form)">Save
    </button>
  </mat-card-footer>
</div>
