<div align="center" style="vertical-align: inherit; padding: 20px;">
  <form #dataForm="ngForm">
    <div layout="col" align="center">
      <!-- Col Left -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px">
        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #nameElement
                   #nameControl="ngModel"
                   placeholder="Code"
                   [(ngModel)]="data.code"
                   name="code"
                   maxlength="8"
                   readonly>
            <mat-hint align="start">
                <span [hidden]="nameControl.pristine" class="tc-red-600">
                  <span [hidden]="!nameControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{nameElement.value.length}} / 8</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select maxlength="250" placeholder="Item Type">
              <!--#nameElement
              #nameControl="ngModel"
              placeholder="Item Type"
              [(ngModel)]="data.item_type"
              name="item_type"
              maxlength="250"
              [required]="false">-->
              <mat-option [value]="test">Test</mat-option>
            </mat-select>
            <mat-hint align="start">
                <span [hidden]="nameControl.pristine" class="tc-red-600">
                  <span [hidden]="!nameControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{nameElement.value.length}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select maxlength="250" placeholder="Item Group">
              <!--#nameElement
              #nameControl="ngModel"
              placeholder="Item Type"
              [(ngModel)]="data.item_type"
              name="item_type"
              maxlength="250"
              [required]="false">-->
              <mat-option [value]="test">Test</mat-option>
            </mat-select>
            <mat-hint align="start">
                <span [hidden]="nameControl.pristine" class="tc-red-600">
                  <span [hidden]="!nameControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{nameElement.value.length}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <mat-select maxlength="250" placeholder="Item Sub Group">
              <!--#nameElement
              #nameControl="ngModel"
              placeholder="Item Type"
              [(ngModel)]="data.item_type"
              name="item_type"
              maxlength="250"
              [required]="false">-->
              <mat-option [value]="test">Test</mat-option>
            </mat-select>
            <mat-hint align="start">
                <span [hidden]="nameControl.pristine" class="tc-red-600">
                  <span [hidden]="!nameControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{nameElement.value.length}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #nameElement
                   #nameControl="ngModel"
                   placeholder="Name 1"
                   [(ngModel)]="data.name1"
                   name="name1"
                   maxlength="250"
                   required>
            <mat-hint align="start">
                <span [hidden]="nameControl.pristine" class="tc-red-600">
                  <span [hidden]="!nameControl.hasError('required')">Required</span>
                </span>
            </mat-hint>
            <mat-hint align="end">{{nameElement.value.length}} / 250</mat-hint>
          </mat-form-field>
        </div>

        <div layout="row">
          <mat-form-field flex>
            <input matInput
                   #nameElement
                   #nameControl="ngModel"
                   placeholder="Name 2"
                   [(ngModel)]="data.name2"
                   name="name2"
                   maxlength="250">
            <mat-hint align="start">
              <span [hidden]="nameControl.pristine" class="tc-red-600">
              <span [hidden]="!nameControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{nameElement.value.length}} / 250</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
      <!-- End Col Left -->

      <!-- Col Right -->
      <mat-card-content class="push-bottom-none" style="width: 50vw;margin: 10px">
        <div class="grid" style="text-align: center">
          <div *ngFor="let image of images; let i = index">
            <img height="200px" [src]="image.src" (click)="gallery.set(i)"/>
          </div>
        </div>
        <div fxLayout="row" style="margin: 10px;text-align: center">
          <span fxFlex></span>
          <input #upload hidden accept="image/*" type="file" tdFileSelect (fileSelect)="uploadImage($event)">
          <a mat-raised-button class="text-upper" color="primary" (click)="upload.click()">Upload</a>
          <a mat-button class="text-upper" style="margin-left: 10px;" (click)="removeImage()" [disabled]="data.image === '../../../../../assets/images/placeholder.png'?true:false">Remove</a>
          <span fxFlex></span>
        </div>

        <div layout="row" style="margin-top: 25px">
          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="number"
                   style="text-align: end;"
                   #nameElement
                   #nameControl="ngModel"
                   placeholder="Minimum"
                   [(ngModel)]="data.min"
                   name="min"
                   maxlength="8">
            <mat-hint align="start">
              <span [hidden]="nameControl.pristine" class="tc-red-600">
              <span [hidden]="!nameControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{nameElement.value.length}} / 8</mat-hint>
          </mat-form-field>

          <mat-form-field style="width: 100px;margin: 10px;" flex>
            <input matInput
                   type="number"
                   style="text-align: end;"
                   #nameElement
                   #nameControl="ngModel"
                   placeholder="Maximum"
                   [(ngModel)]="data.max"
                   name="max"
                   maxlength="8">
            <mat-hint align="start">
              <span [hidden]="nameControl.pristine" class="tc-red-600">
              <span [hidden]="!nameControl.hasError('required')">Required</span>
              </span>
            </mat-hint>
            <mat-hint align="end">{{nameElement.value.length}} / 8</mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
    </div>
    <!-- End Col Right -->
  </form>

  <mat-divider style="margin: 10px"></mat-divider>
  <!-- Footer -->
  <mat-card-footer style="margin: 10px;align-content: center;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" [disabled]="!dataForm.form.valid" color="primary"
            (click)="saveData(dataForm.form)">Save
    </button>
  </mat-card-footer>
</div>
