<div style="padding: 10px;">
  <div style="vertical-align: top; padding: 10px;">
    <div class="col-md-12">
      <label style="width: 100px;">Code: </label>
      <input matInput="code">
    </div>
    <div class="col-md-12">
      <label style="width: 100px;">Name 1: </label>
      <input matInput="code">
    </div>
    <div class="col-md-12">
      <label style="width: 100px;">Name 2: </label>
      <input matInput="code">
    </div>
  </div>
  <div align="center" style="vertical-align: bottom; padding: 10px;">
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" color="primary" (click)="saveData()">Save</button>
  </div>
</div>
