<div align="center" style="vertical-align: inherit; padding: 30px 20px;">
  <form class="form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Code" value="">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Name 1">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Name 2">
    </mat-form-field>
    <button mat-button class="text-upper" mat-dialog-close>Cancel</button>
    <button mat-button class="text-upper" color="primary" (click)="saveData()">Save</button>
  </form>
</div>
