<td-layout-nav toolbarTitle="Item Type" class="container">
  <button mat-icon-button td-menu-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <!--<ng-template tdLoading="data.form">-->

  <!--</ng-template>-->
  <td-layout-card-over cardTitle="Item Type Setup" cardSubtitle="">
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div>
        <button mat-button class="text-upper" color="primary">
          <mat-icon>add</mat-icon> Add
        </button>
        <button mat-button class="text-upper" color="warning" mat-dialog-close>
          <mat-icon>delete_forever</mat-icon> Delete
        </button>
      </div>
      <div></div>
      <div>
        <label>Table Layout</label>
      </div>
    </mat-card-actions>
  </td-layout-card-over>
</td-layout-nav>
