<td-layout-nav toolbarTitle="Item Type" class="container">
  <button mat-icon-button td-menu-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <!--<ng-template tdLoading="data.form">-->

  <!--</ng-template>-->
  <td-layout-card-over cardTitle="Item Type Setup" cardSubtitle="">
    <mat-divider></mat-divider>
    <mat-card-actions style="margin: 10px;">
      <div>
        <button mat-button class="text-upper" color="primary" (click)="addData()">
          <mat-icon>add</mat-icon> Add</button>
        <button mat-button class="text-upper" color="warn">
          <mat-icon>delete_forever</mat-icon> Delete</button>
      </div>
    </mat-card-actions>
    <mat-card-content style="margin: 10px;">
      <ngx-datatable
        #dataTable
        class="data-table"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="35"
        [scrollbarH]="true"
        [rowHeight]="'auto'"
        [sorts]="[{prop: 'prop', dir: 'desc'}]"
        [limit]="page.size"
      >

        <ngx-datatable-column [sortable]="false" name="No." width="50">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
              {{rowIndex+1}}.
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="code"
          name="Type Code"
          [minWidth]="50"
          [width]="75">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
              {{row.code}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="100"
          [canAutoResize]="true"
          prop="name1"
          name="Description Name 1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
              {{row.name1}}
            </div>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column
          [width]="100"
          [canAutoResize]="true"
          prop="name2"
          name="Description Name 2">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div style="text-align: left" class="text-truncate">
              {{row.name2}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [canAutoResize]="false"
          [resizeable]="false"
          [width]="90"
          name="Edit">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div style="text-align: center;" fxLayout="row">
              <button mat-icon-button mat-tooltip="Edit" class="" (click)="addData()"> <!--(click)="editData(row)">-->
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </mat-card-content>
    <mat-card-footer style="margin: 10px;">
      <div class="mat-padding" *ngIf="rows?.length === 0 && !loading" layout="row" layout-align="center center">
        <h3>No data to display.</h3>
      </div>
      <mat-paginator #paginator
                     [length]="page.totalElements"
                     [pageIndex]="page.pageNumber"
                     [pageSize]="page.size"
                     (page)="setPage($event)"
                     [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </mat-card-footer>
  </td-layout-card-over>
</td-layout-nav>
