:host /deep/ {
  .btn-back{
    position: absolute;
    top: 0;
    left: 0;
  }
  .drop-zone {
    font-weight: 300;
    ::ng-deep * {
      pointer-events: none; //added to fix bug that re-throws dragleave/dragenter by child elements
    }
  }
  .full-width {
    width: 100%;
  }
}
